.color *:nth-child(3n+1){
   background-color : red;
}

.color *:nth-child(3n+2){
   background-color : orange;
}

.color *:nth-child(3n+3){
   background-color : yellow;
}

.box::before {
   content: "택시"
}

.box::after {
   content: "빨리"
}

[disabled] {
   background-color: red;
}

[placeholder="이름"]{
   background-color: orange;
}

[placeholder=""]{
   background-color: blue;
}