.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.navy {
    background-color: navy;
}

.purple {
    background-color: purple;
}


.b1 {
    width: 210px;
    height: 30px;
}

.b2 {
    width: 180px;
    height: 30px;
}

.b3 {
    width: 150px;
    height: 30px;
}

.b4 {
    width: 120px;
    height: 30px;
}

.b5 {
    width: 90px;
    height: 30px;
}


.b6 {
    width: 60px;
    height: 30px;
}

.b7 {
    width: 30px;
    height: 30px;
}