body {
    height: 2000px;
}

.container1 {
    position: relative;
    border: solid;
    border-width: 3px;
    width: 500px;
    height: 500px;
}

.container2 {
    border: solid;
    border-width: 2px;
    width: 250px;
    height: 250px;
    position: fixed;
    left: 515px;
    top: 8px;
}

.box {
    position: absolute;
    width: 50px;
    height: 50px;
}

.boxb {
    background-color: black;
}

.box12 {
    bottom:10px;
    right:10px;
}

.box13 {
    bottom:10px;
    right:60px;
}

.box1 {
    bottom:0px;
    right:0px;
}

.box2 {
    bottom:0px;
    right:50px;
}