/*.box {
    width: 200px;
    height: 200px;
    background-color: blue;
}

 .box:hover {
    visibility: hidden;
} 

.box:hover{
    opacity: 0;
}

.box{
    overflow: auto;
}


.box:hover{
    display: none;
} */

.container {
    width: 500px;
    height: 500px;
    border: solid;
    position: relative;

}

.item {
    width: 100px;
    height: 100px;
    background-color: red;
    text-align: center;
    line-height: 100px;
}

.item1 {
    width: 100px;
    height: 100px;
    background-color: orange;
    align-items: center;
    position: relative;
    left: 50px;
    top: 30px;
    text-align: center;
    line-height: 100px;
}

.item2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    line-height: 100px;
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.item3 {
    width: 100px;
    height: 100px;
    background-color: green;
    text-align: center;
    line-height: 100px;
    position: fixed;
    right: 100px;
    top: 100px;
}

