.parent {
    position: relative;
    top: 50px;
    left: 50px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}

.circles {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    background-color: navy;
    top: 100px;
    left: 260px;
}

.circle2 {
    background-color: green;
    top: 80px;
    left: 190px;
    z-index: 2;
}
.circle3 {
    background-color: yellow;
    top: 70px;
    left: 120px;
}
.circle4 {
    background-color: orange;
    top: 50px;
    left: 50px;
    z-index: 2;
}
.circle5 {
    background-color: purple;
    top: 50px;
    left: 320px;
    z-index: 2;
}

.circle6 {
    top: 0px;
    left: 0px;
    background-color: red;
    
}
    


.eyewhite {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    background-color: white;
}
.eyeblack {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    background-color: black;
}
.eyewhite1 {
    top: 15px;
    left: 20px;
}

.eyeblack1 {
    top: 20px;
    left: 20px;
}

.eyewhite2 {
    top: 78px;
    left: 70px;
}
.eyeblack2 {
    top: 80px;
    left: 80px;
}

.eyewhite3 {
    top: 115px;
    left: 150px;
}
.eyeblack3 {
    top: 130px;
    left: 153px;
}
.eyewhite4 {
    top: 82px;
    left: 225px;
}
.eyeblack4 {
    top: 82px;
    left: 230px;
}
.eyewhite5 {
    top: 135px;
    left: 295px;
}
.eyeblack5 {
    top: 145px;
    left: 310px;
}
.eyewhite6 {
    top: 82px;
    left: 355px;
}
.eyeblack6 {
    top: 84px;
    left: 368px;
}



.circle7 {
    background-color: red;
    top: 70px;
    left: 410px;
}

.circle8 {
    background-color: orange;
    top: 58px;
    left: 433px;
    z-index: 2;
}

.circle9 {
    background-color: yellow;
    top: 40px;
    left: 455px;
}

.circle10 {
    background-color: green;
    top: 20px;
    left: 472px;
    z-index: 2;
}

.square {
    background-color: black;
    width:13px;
    height: 40px;
    
}

.square1 {
    top: 130px;
    left: 80px;
    z-index: -1;
    position: absolute;
}

.square2 {
    top: 150px;
    left: 160px;
    z-index: -1;
    position: absolute;
}

.square3 {
    top: 160px;
    left: 230px;
    z-index: -1;
    position: absolute;
}

.square4 {
    top: 180px;
    left: 310px;
    z-index: -1;
    position: absolute;
}